h1,
h2,
h3 {
    text-align: center;
    background-color: #eb3f33;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 15px;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 0.5;
    background-color: #ffa9a3;
}

.thought {
    color: #7a2d27;
}

/* used lighter color to create visual image of "thought" as it's impossible to visually see what you think. */
.name {
    color: #471511;
}

/* bold seemed to emphasize too much yet the purpose of the bold style isn't emphasizing, so changed the color closer to the background to lower the visual emphasize.*/
.blockquote {
    font-style: italic;
    color: #471511;
}
