section {
    padding: 100px 30px;
}

nav {
    margin-top: 100px;
    margin-bottom: 0;
    position: relative;
    top: 50px;
}

ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    list-style: none;
    padding-left: 0;
    text-align: center;

}

li {
    display: inline-block;
    border-left: 2px solid black;

}

li a {

    color: black;
    margin-right: 4px;
    margin-left: 4px;
    padding: 8px;
    text-decoration: none;
}

li a:hover,
li a:focus {
    color: brown;
}

section {
    padding-top: 48px;
    padding-bottom: 24px;
}

h1,
h2,
h3,
p {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
}

.about .about2 {
    background-color: black;
}

.about {
    max-width: 45%;
    padding-left: 50px;
    padding-top: 300px;
}

.about2 {
    max-width: 50%;
    position: relative;
    left: 610px;
    top: -350px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 35px;
}

body {
    background-image: url(images/panel.png);
    background-size: 110%;
    background-position-y: 1020px;
}

.schedule {
    text-align: center;

}

.laren,
.christoper,
.sarah {
    max-width: 30%;
}

.laren {
    margin-left: 30px;
}

.christoper {
    position: relative;
    top: -305px;
    left: 35%;
}

.sarah {
    position: relative;
    top: -605px;
    left: 68%;
}
