* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    background-image: url(images/gsss.jpg);
    background-size: 640px;
    background-repeat: no-repeat;
    text-align: center;

}

img {
    height: 30px;
    width: auto;
    max-width: 100%;
    height: auto;
}

.card {
    background: black;
    position: relative;
    left: 100px;
    width: 500px;
    padding: 10px;

}

a {
    color: pink;
}
