* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Cabin', sans-serif;
}

.card {
    background-image: url(images/gsss.jpg);
    background-repeat: no-repeat;
    max-width: 640px;
    height: auto;
    background-size: cover;
    text-align: center;
    margin: 200px;
    padding: 60px;
    height: 350px;
    width: 450px;
}

a {
    color: pink;
}
